
body {
  background-color: rgb(43, 43, 43);
  color: lightgray;
  display: flex;
  font-weight: 300;
  font-size: 15px;
  font-family: Quicksand,sans-serif;
  line-height: 1.5;
  overflow: clip;
  margin: 0;

  background-image: url("/public/images/default_texture.png");

  .mid-screen-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    #global-container {
      width: 100%;
      justify-content: center;
      padding-top: 60px;
      overflow: scroll;
    }
  }
}

.dark-background {
  background-color: rgba(19, 16, 19, 0.94);
  backdrop-filter: blur(10px);
}

.h-separator {
  height: 2px;
  width: 100%;
  padding: 20px 0;

  div {
    background-color: white;
    width: 100%;
    height: 100%;
  }
}

button:hover {
  cursor: pointer;
}

div {
  display: flex;
}

p {
  color: darkgray;
}