
.project-div {
  align-items: center;
  width: 90%;
  overflow: scroll;

  .summary {
    width: 90%;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .project-filters {
    align-items: center;

    @media (orientation: portrait) {
      flex-direction: column;

      .filter-dropdown {
        width: 80%;

        button {
          width: 100%;
        }
      }
    }

    h2 {
      padding: 0 10px;
    }

    input {
      padding: 16px;
      margin: 0 10px;
      font-size: 16px;
    }

    .filter-dropdown {
      position: relative;
      display: inline-block;

      .main_btn {
        background-color: #c6af1e;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }

      .main-filters {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      button:hover {
        background-color: #ddd;
      }

      &:hover .main-filters {
        display: flex;
      }

      &:hover .main_btn {
        background-color: #dd702d;
      }
    }
  }

  flex-direction: column;

  .project-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}