#toolbar-container {
  background-color: rgba(0, 0, 0, 0.65);
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 10%;
  align-items: center;
  backdrop-filter: blur(4px);

  .toolbar-div {
    width: 100%;
    height: 100%;
    align-items: center;

    h1 {
      margin: 0;
      text-wrap: nowrap;
    }

    .toolbar-menu {
      width: 100%;
      margin: 0 20px;
      height: 100%;

      button {
        flex-grow: 1;
        border: none;
        border-radius: 0;
        height: 100%;

        transition-duration: 0.25s;
        background-color: transparent;
        color: white;

        &:hover {
          background-color: rgba(255, 204, 161, 0.37);
        }
      }
    }
  }


}